<section class="fixed-navbar">
  <nav id="navbar">
    <a href="/galery">
      <picture>
        <h3>Gal</h3>
        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
    <a href="/add-place">
      <picture>
        {{!-- <img src="" alt=""> --}}
        <h3>Add</h3>
      </picture>
    </a>
    <a href="/places">
      <picture>
      <h3>Map</h3>

        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
  </nav>
</section>

<section id="photo-feed">
  <div id="photo-feed-content">
    {{#each places}}
        
            <picture name="{{this.name}}" class="photo-pic">
                <div class={{this.picture.rotate}}>
                  <img class="pic-image" src="{{this.picture.path}}" alt="{{this.name}}">
                </div>
            </picture>
        
    {{/each}} 
  </div>
</section>