

<div class="edit">

<h1>EDIT YOUR FAVORITE PLACE</h1>


<form action="/edit/{{this._id}}" method="post">
  <label for="Name">Name</label>
  <input type="text" name="name" value="{{this.name}}">

  <label for="type">Type</label>
  <select name="type" id="">
    <option value="coffee">Coffee</option>
    <option value="shop">Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <label for="">Latitude</label>
  <input type="text" name="latitude" value="{{this.location.coordinates.[1]}}">
  <button type="submit">SEND</button>
  <label for="">Longitude</label>
  <input type="text" name="longitude" value="{{this.location.coordinates.[0]}}">

  <button type="submit">SEND</button>
</form>

<div class="see-places">
  <a  href="/places">
  <button>SEE PLACES</button>
  </a>
</div>
</div>

