
<section class="fixed-navbar">
  <nav id="navbar">
    <a href="/galery">
      <picture>
        <h3>Galery</h3>
        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
    <a href="/add-place">
      <picture>
        {{!-- <img src="" alt=""> --}}
        <h3>Add</h3>
      </picture>
    </a>
    <a href="/places">
      <picture>
      <h3>Map</h3>

        {{!-- <img src="" alt=""> --}}
      </picture>
    </a>
  </nav>
</section>
  
  <div class="map-block left-block" id="map"></div>
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>



