html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  margin:0px;
  display:inline;
}

h1 {
  margin: 0px;
}

a {
  color: #00B7FF;
}

#map{
  height: 92vh;
  width: 130vw;
}

.home{
  justify-content: space-between;

}

#photo{
  display:block;
}

.input-photo {
  visibility: hidden;
}


.form-block {
  padding-top: 5%;
  display:flex;
  flex-direction: column;
} 

.map-block{
  opacity:0.6;
}

.map-block.left-block {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

#add {
  font-size:30px;
  background-color: blue;
  border: 1px solid black;
  color: white;
}

#search-place{
  display:block;
  width: 150px;
  height: 20px;
  font-size: 20px;
  margin-top: 10%;
  
}



select {
  width: 150px;
  height: 25px;

}

#search-address-btn, #submit-add-place, #submit-edit-place{
  height: 35px;
  color: white;
  background-color: purple;
  margin-top: 15px;
  font-size: 20px;
  display: block;
}

#add-place{
  margin-left:30%;
  width: 50vw;
}

 
.see-places{
  margin-top:20px;

}

.see-places > a >button {
 width: 30%;
 height: 25px;
 background-color: royalblue
}



#lat-edit, #lng-edit, #rotate-input, #lat, #lng, #place-name {
  height: 0px;
  width:0px;
  margin:0px;
}

.photo-label {
  background-image: url(../images/camera.jpg);
  background-size: contain;
  width: 20vw;
  height: 20vw;
  background-repeat: no-repeat;
  display: block;
  font-size: 20px;
   margin-bottom:1.5em;
}

#search-block{
  display: block;
}
.search-address-btn {
  display: block;
  margin-top: 40px;
  visibility: hidden;
}

#place-question {
  visibility: hidden;
  margin-top:20px;
}

#submit-add-place {
  visibility: hidden
}

#photo-name, #photo-name-edit{
  color: rgb(79, 157, 79);
  font-size:1.2em;
}

#checked {
  margin-left: 10px;
}

#suggestion-list, #suggestion-list-edit {
  width:100%;
  height:100%;
  background-color: rgb(216, 182, 193);
  font-size:1.2em;
}


#suggestion-list:hover, #suggestion-list-edit:hover {
  background-color: purple;
  color:white;
  cursor: pointer;
}


#photo-galery-home {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: hidden;
}



#photo-galery {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

#photo-feed {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.photo-pic {
  height: 32.5vw;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  width: 32.5vw;
}

#photo-gallery-content{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#photo-gallery-content-home{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#photo-feed-content{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0px;
  padding-bottom: 0px;
}




.photo-pic:hover:before{
  content: attr(name);
  position:absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  font-size:1.4em;
  color:white;
  z-index:2;
}

.photo-pic:hover {
  opacity: 0.7;
}

.photo-pic:hover:after{
  content: "EDIT";
  position:absolute;
  bottom:5px;
  left:5px;
  font-size:1.4em;
  color:white;
}

.pic-image {
  width: 33vw;
  height: 33vw;
  object-fit: cover;
}

.picture-edit-block{
  width:50vw;
}


#picture-edit {
   width: 40vw;
   height: 40vw;
}

.pic-image-edit {
  width: 100%;
}

#change-text {
  margin-top: -35px;
  margin-bottom: 2em;
}

#delete-btn{
  margin-top: 4%;
  display:block;
  color: white;
  text-decoration:none;
  background-color: red;
}

#rotate-button {
    color: white;
    width: auto;
    padding: 5px;
    font-size: 1.5em;
    background-color: purple;
    margin-bottom: 1em;
}

#delete-link {
  text-decoration: none;
  color: white;
}
// ---------------MODAL---------------------


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  opacity:0;
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // margin-top: 8vh; /* Location of the box */
  margin:0 auto;
  left: 0;
  top: 8vh;
  width: 100vw; /* Full width */
  height:10vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.7); /* Black w/ opacity */
}

// 
.modal.is-active{
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  width: 100vw;
  height: 100vh; 
  display:block;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  padding-top:4em;
  height: 70vh; 
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.0s;
  animation-name: zoom;
  animation-duration: 0.0s;
}

.modal-content{
  image-orientation: from-image;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 80%;
    height: auto;
  }
}

//--------------------IMAGE ROTATION ----------------------- //

.rotate90deg{
  transform: rotate(90deg);
}

.rotate180deg{
  transform: rotate(180deg);
}

.rotate270deg{
  transform: rotate(270deg);
}

.rotate360deg{
  transform: rotate(360deg);
}


// LOGIN & SINGUP //

.input-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 4vh;
  margin: 1em 0;
  font-size: 1em;
  padding-left: 4px;
}

#auth-block{
  position: absolute;
  top: 30%;
  background-color: lightgray;
  opacity: 0.91;
  padding: 2em;
}

#auth-page{
  width: 100vw;
  position: absolute;
  top: 16%;
  display: flex;
  justify-content: center;
}

.button-form{
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 5px 10px;
}

#blocked-link {
  padding: 0px 10px 0px 0px;
  color: black;
  font-weight: bold;
}

// ------------ NAVBAR --------//

#navbar {
  width: 80%;
  height:8vh;
  margin:auto;
  display: flex;
  justify-content: space-around;
}

.fixed-navbar{
  height: 8vh;
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 10;
}